<!DOCTYPE html>
<html lang="en">
<head>
    <title>Youtube Influencer Search</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
    <script src="https://unpkg.com/underscore@1.11.0/underscore-min.js" crossorigin></script> -->
    <script
    src="http://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <scrip src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/styles.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="container">
    <br>
    <h1>Youtube Influencer Search</h1>
    <br>
    <form id="search-form">
        <div class="form-group">
            <h3>Keywords</h3> <input type="text" class="form-control" id="keywords" name="search" required>
        </div>

        <div class="form-group">
            <label for="order"><h3>Order</h3></label>
            <select class="form-control" id="order" name="order">
              <option>Relevancy</option>
              <option>Most Recently Published</option>
              <option>Rating (Highest to Lowest)</option>
              <option>View Count (Highest to Lowest)</option>
            </select>
          </div>

        <div class="form-group">
            <h3>Min. Subscribers</h3> <input type="text" class="form-control" id="min-subscribers" name="min_subscribers">
        </div>
              
        <div class="form-group">
            <h3>Max Subscribers</h3> <input type="text" class="form-control" id="max-subscribers" name="max_subscribers">
        </div>

        <div class="form-group">
            <label for="published-before"><h3>Published Before</h3></label>
              <input class="form-control" type="date" value="YYYY-MM-DD" id="published-before" name="published_before">
            </div>

        <div class="form-group">
            <label for="published-after"><h3>Published After</h3></label>
                <input class="form-control" type="date" value="YYYY-MM-DD" id="published-after" name="published_after">
            </div>

        <div class="form-group">
            <input type="submit" class="btn btn-danger" value="Submit">
        </div>        
</div>
<br>
<br>
<div id="results-table-div">

<h3>Results</h3>

    <table class="table table-bordered table-striped" id="results-table">
    <thead>
        <tr>
        <td>Title</td>
        <td>Description</td>
        <td>Video Count</td>
        <td>View Count</td>
        <td>Subscriber Count</td>
        <td>Email</td>
        <td>URL</td>
        <td>Actions</td>
    </tr>
    </thead>
    <tbody>

    </tbody>
    </table>

<nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" id="next-page">Next</a>
      </li>
    </ul>
  </nav>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="videos">
        </div>
    </div>
</div>

<script src="/static/channels.js"></script>
</body>
</html>